#!/bin/sh
exec tail -n +3 $0
# This file provides an easy way to add custom menu entries.  Simply type the
# menu entries you want to add after this comment.  Be careful not to change
# the 'exec tail' line above.
menuentry 'Ubuntu' --class ubuntu --class gnu-linux --class gnu --class os {
        recordfail
        insmod gzio
        insmod part_msdos
        insmod part_msdos
        insmod diskfilter
        insmod mdraid1x
        insmod lvm
        insmod ext2
	insmod ext4
	set root='(md0)'
        linux   /boot/vmlinuz-4.2.0-27-generic root=/dev/mapper/vg0-root_standard ro   nomdmonddf nomdmonisw
        initrd  /boot/initrd.img-4.2.0-27-generic

